.textbox {
    font-family: "Quicksand", sans-serif;
    color: #333;
    margin-top: 0;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

.ql-toolbar.ql-snow {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-color: #C2CAD0 !important;
}

.ql-container.ql-snow {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-color: #C2CAD0 !important;
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
}