nav {
    font-family: Roboto, sans-serif;
    font-size: 25px;
    padding: 10px;
    border-bottom: 1px solid #2F4F4F;
    border-top: 1px solid #2F4F4F;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    margin-right: 20px;
    transition: color 0.3s ease;
}

nav a.active {
    color: #483D8B;
    font-weight: bold;
}